HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#log
/logs
*.log
app_*.log.gz

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# .yml .properties
*.yml
*.properties

# frontend/buildspec.yml 파일만 예외 처리
!frontend/web/buildspec.yml

# .github 디렉토리 내의 .yml 파일 예외 처리
!.github/**/*.yml

#Frontend
node_modules
dist

*storybook.log
storybook-static
