HELP.md
.idea

#log
/logs
*.log
app_*.log.gz

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# .yml .properties
*.yml
*.properties

# .github 디렉토리 내의 .yml 파일 예외 처리
!.github/**/*.yml

#Frontend
node_modules
dist