# Firebase Admin SDK 인증 파일
bombom-fe426-firebase-adminsdk-fbsvc-3ac4862ca7.json

# google-services: Firebase Android 설정 파일
google-services.json

# GoogleService-Info.plist: Firebase iOS 설정 파일
GoogleService-Info.plist