<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_PATH" value="logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ALL_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 재시작시 덮어쓰지 않도록 -->
        <append>true</append>

        <!-- 현재 활성 파일 -->
        <file>${LOG_PATH}/bombom-prod.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 날짜 + 인덱스 형식 -->
            <fileNamePattern>${LOG_PATH}/bombom-prod.log.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- 보관 정책 -->
            <maxHistory>15</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp fieldName="time" pattern="yyyy-MM-dd'T'HH:mm:ss.SSSXXX"/>
                <pattern>{"level":"%level","logger":"%logger","thread":"%thread"}</pattern>
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>API</includeMdcKeyName>
                    <includeMdcKeyName>method</includeMdcKeyName>
                    <includeMdcKeyName>userId</includeMdcKeyName>
                </mdc>
                <message/>
                <stackTrace>
                    <fieldName>traceStack</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                        <abbreviator class="ch.qos.logback.classic.pattern.TargetLengthBasedClassNameAbbreviator">
                            <targetLength>20</targetLength>
                        </abbreviator>
                        <exclude>sun\.reflect\..*</exclude>
                        <exclude>java\.lang\.reflect\..*</exclude>
                        <exclude>org\.springframework\.aop\..*</exclude>
                        <exclude>org\.springframework\.cglib\..*</exclude>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="ASYNC_ALL_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ALL_JSON"/>
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_ALL_JSON"/>
    </root>
</configuration>
