<configuration scan="true" scanPeriod="30 seconds">

    <!-- 1) 공통 설정 include -->
    <include resource="logback-common.xml"/>

    <!-- 2) 환경별 로드 -->
    <springProfile name="dev">
        <include resource="logback-dev.xml"/>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback-prod.xml"/>
    </springProfile>

</configuration>
