<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <!-- 콘솔: INFO 이상 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일(JSON): INFO 이상 -->
    <appender name="ALL_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOG_PATH}/bombom-prod.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/bombom-prod.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>15</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp fieldName="time" pattern="yyyy-MM-dd'T'HH:mm:ss.SSSXXX"/>
                <pattern>{"level":"%level","logger":"%logger","thread":"%thread"}</pattern>
                <mdc>
                    <includeMdcKeyName>trace_id</includeMdcKeyName>
                    <includeMdcKeyName>span_id</includeMdcKeyName>
                    <includeMdcKeyName>API</includeMdcKeyName>
                    <includeMdcKeyName>method</includeMdcKeyName>
                    <includeMdcKeyName>userId</includeMdcKeyName>
                </mdc>
                <message/>
                <stackTrace>
                    <fieldName>traceStack</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>3000</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                        <!-- abbreviator는 버전에 따라 지원 안될 수 있음 -->
                        <exclude>sun\.reflect\..*</exclude>
                        <exclude>java\.lang\.reflect\..*</exclude>
                        <exclude>org\.springframework\.aop\..*</exclude>
                        <exclude>org\.springframework\.cglib\..*</exclude>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="ASYNC_ALL_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ALL_JSON"/>
        <queueSize>2000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>false</neverBlock>
    </appender>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <captureExperimentalAttributes>true</captureExperimentalAttributes>
        <captureMdcAttributes>trace_id,span_id,API,method,userId</captureMdcAttributes>
    </appender>

    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_ALL_JSON"/>
        <appender-ref ref="OTEL"/>
    </root>
</configuration>
