/**
 * {{#description}}{{description}}{{/description}}{{^description}}{{classname}}{{/description}}
 */
{{! OpenAPI Generator가 pojo.mustache 이름으로 직접 찾는 record 본문 템플릿 }}
{{>generatedAnnotation}}
public record {{classname}}(

{{#vars}}
{{! 필수 검증과 바인딩에 필요한 애노테이션만 줄 단위로 둔다 }}
        {{#required}}@NotNull
        {{/required}}{{#isModel}}@Valid
        {{/isModel}}{{#isContainer}}{{#items.isModel}}@Valid
        {{/items.isModel}}{{/isContainer}}{{#isDateTime}}@DateTimeFormat(iso = DateTimeFormat.ISO.DATE_TIME)
        {{/isDateTime}}{{#isDate}}@DateTimeFormat(iso = DateTimeFormat.ISO.DATE)
        {{/isDate}}{{#description}}@Schema(description = "{{{description}}}")
        {{/description}}{{{dataType}}} {{name}}{{^-last}},
{{/-last}}

{{/vars}}
) {
}
